body {
    background-image: url('https://images.pexels.com/photos/2771744/pexels-photo-2771744.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}
.weather-container {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure the suggestions are positioned correctly */
}
.form-group label {
    font-weight: bold;
}
.weather-info {
    margin-top: 20px;
}
.weather-info h2 {
    margin-bottom: 20px;
}
.search-list {
    border: 1px solid #ccc;
    background: #fff;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    top: calc(100% + 5px); /* Position below the input field with some gap */
    left: 0;
    display: none; /* Initially hidden */
}
.search-item {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}
.search-item:hover {
    background: #f0f0f0;
}
.footer {
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ddd;
    position: relative;
    margin-top: auto;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
.footer p span {
    font-weight: bold;
    color: #333;
}
.footer a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: underline;
}
